::-webkit-scrollbar {
	width: 0px !important;
} 
body::-webkit-scrollbar {
	display: none !important;
}

.loader{
	display: flex;
} 

/* variables */
:root {
	/* grid */
	--column-count: 10;
	--grid-main: repeat(var(--column-count), minmax(0, 1fr));
	--grid-1: repeat(1, minmax(0, 1fr));
	--grid-2: repeat(2, minmax(0, 1fr));
	--grid-3: repeat(3, minmax(0, 1fr));
	--grid-4: repeat(4, minmax(0, 1fr));
	--grid-5: repeat(5, minmax(0, 1fr));
	--grid-6: repeat(6, minmax(0, 1fr));
	--grid-7: repeat(7, minmax(0, 1fr));
	--grid-8: repeat(8, minmax(0, 1fr));
	--grid-9: repeat(9, minmax(0, 1fr));
	--grid-10: repeat(10, minmax(0, 1fr));
	--grid-11: repeat(11, minmax(0, 1fr));
	--grid-12: repeat(12, minmax(0, 1fr));
	--grid-gap-total: calc(var(--grid-gap--main) * (var(--column-count) - 1));
	--grid-width: calc(min(var(--max-width--main), 100vw) - (var(--padding-horizontal--main) * 2));
	--column-width: calc((var(--grid-width) - var(--grid-gap-total)) / var(--column-count) + var(--grid-gap--main));
	--column-width--1: calc(var(--column-width) * 1 - var(--grid-gap--main));
	--column-width--2: calc(var(--column-width) * 2 - var(--grid-gap--main));
	--column-width--3: calc(var(--column-width) * 3 - var(--grid-gap--main));
	--column-width--4: calc(var(--column-width) * 4 - var(--grid-gap--main));
	--column-width--5: calc(var(--column-width) * 5 - var(--grid-gap--main));
	--column-width--6: calc(var(--column-width) * 6 - var(--grid-gap--main));
	--column-width--7: calc(var(--column-width) * 7 - var(--grid-gap--main));
	--column-width--8: calc(var(--column-width) * 8 - var(--grid-gap--main));
	--column-width--9: calc(var(--column-width) * 9 - var(--grid-gap--main));
	--column-width--10: calc(var(--column-width) * 10 - var(--grid-gap--main));
	--column-width--11: calc(var(--column-width) * 11 - var(--grid-gap--main));
	--column-width--12: calc(var(--column-width) * 12 - var(--grid-gap--main));
	--breakout-gutter: minmax(calc(var(--padding-horizontal--main) - var(--grid-gap--main)), 1fr);
	--breakout-remaining: calc(var(--max-width--main) - (var(--padding-horizontal--main) * 2));
	--breakout-start: [full-start] var(--breakout-gutter) [content-start];
	--breakout-end: [content-end] var(--breakout-gutter) [full-end];
	--grid-breakout-single: var(--breakout-start) minmax(0, var(--breakout-remaining)) var(--breakout-end);
	--grid-breakout: var(--breakout-start) repeat(var(--column-count), minmax(0, calc((var(--breakout-remaining) - var(--grid-gap-total)) / var(--column-count)))) var(--breakout-end);
	/* others */
	--font-weight--inherit: inherit;
	--font-weight--100: 100;
	--font-weight--200: 200;
	--font-weight--300: 300;
	--font-weight--400: 400;
	--font-weight--500: 500;
	--font-weight--600: 600;
	--font-weight--700: 700;
	--font-weight--800: 800;
	--font-weight--900: 900;
	--text-transform--none: none;
	--text-transform--uppercase: uppercase;
	--text-transform--capitalize: capitalize;
	--text-transform--lowercase: lowercase;
	--text-transform--inherit: inherit;
	--max-width--none: none;
}

/* default styles */
body {
	font-weight: var(--text-main--font-weight);
	text-transform: var(--text-main--text-transform);
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, label, blockquote, figure {
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
  vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
}
button {
	background-color: unset;
	padding: unset;
	text-align: inherit;
	cursor: pointer;
}
img::selection {
	background: transparent;
}
:is(h1, h2, h3, h4, h5, h6, p) a {
	text-decoration: underline;
}
.u-rich-text > *:first-child,
.u-rich-text .w-richtext > *:first-child {
	margin-top: 0;
}
.u-rich-text > *:last-child,
.u-rich-text .w-richtext > *:last-child {
	margin-bottom: 0;
}
video {
	width: 100%;
	object-fit: cover;
}
video.wf-empty {
	padding: 0;
}
svg {
	display: block;
}
section, header, footer {
	position: relative;
}
@media (prefers-color-scheme: light) {
	option {
		color: black;
	}
}
.wf-design-mode .g_clickable_wrap {
	z-index: -1;
}

/* line clamp */
.u-line-clamp-1, .u-line-clamp-2, .u-line-clamp-3, .u-line-clamp-4 {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.u-line-clamp-2 { -webkit-line-clamp: 2; }
.u-line-clamp-3 { -webkit-line-clamp: 3; }
.u-line-clamp-4 { -webkit-line-clamp: 4; }

/* focus states */
[tabindex]:focus-visible,
a:focus-visible,
button:focus-visible,
.w-checkbox-input--inputType-custom.w--redirected-focus,
.w-form-formradioinput--inputType-custom.w--redirected-focus {
	outline: 2px solid var(--theme--text);
	outline-offset: 4px;
}
.w-checkbox-input--inputType-custom.w--redirected-focus,
.w-form-formradioinput--inputType-custom.w--redirected-focus {
	box-shadow: none;
}

/* section padding */
[data-padding-top="none"] { padding-top: var(--padding-vertical--none); }
[data-padding-bottom="none"] { padding-bottom: var(--padding-vertical--none); }

[data-padding-top="small"] { padding-top: var(--padding-vertical--small); }
[data-padding-bottom="small"] { padding-bottom: var(--padding-vertical--small); }

[data-padding-top="main"] { padding-top: var(--padding-vertical--main); }
[data-padding-bottom="main"] { padding-bottom: var(--padding-vertical--main); }

[data-padding-top="large"] { padding-top: var(--padding-vertical--large); }
[data-padding-bottom="large"] { padding-bottom: var(--padding-vertical--large); }

[data-padding-top="xlarge"] { padding-top: var(--padding-vertical--xlarge); }
[data-padding-bottom="xlarge"] { padding-bottom: var(--padding-vertical--xlarge); }

.u-hide-rich-text-media > *:not(h1,h2,h3,h4,h5,h6,p,blockquote),
.u-hide-if-empty-cms:not(:has(.w-dyn-item)),
.u-embed-js,
.u-embed-css {
	display: none !important;
}

.g_clickable_wrap a[href="#"] {
	display: none;
}
.g_clickable_wrap a[href="#"] ~ button {
	display: block;
}

/* theme light */
:root,
[data-theme="light"],
[data-theme="dark"] [data-theme="invert"] {
	--theme--background: var(--swatch--light);
	--theme--text: var(--swatch--dark);
	--theme--border: var(--swatch--dark-secondary);
	/* button primary */
	--button--background: var(--swatch--brand);
	--button--text: var(--swatch--light);
	--button--border: var(--swatch--brand);
	--button--background-hover: var(--swatch--dark);
	--button--text-hover: var(--swatch--light);
	--button--border-hover: var(--swatch--dark);
	/* button secondary */
	--button-secondary--background: var(--swatch--transparent);
	--button-secondary--text: var(--swatch--light);
	--button-secondary--border: var(--swatch--light);
	--button-secondary--background-hover: var(--swatch--dark); 
}
/* theme dark */
[data-theme="dark"],
[data-theme="invert"],
[data-theme="light"] [data-theme="invert"] {
	--theme--background: var(--swatch--dark);
	--theme--text: var(--swatch--light);
	--theme--border: var(--swatch--light);
	/* button primary */
	--button--background: var(--swatch--brand);
	--button--text: var(--swatch--light);
	--button--border: var(--swatch--dark);
	--button--background-hover: var(--swatch--dark);
	--button--text-hover: var(--swatch--light);
	--button--border-hover: var(--swatch--light);
	/* button secondary */
	--button-secondary--background: var(--swatch--transparent);
	--button-secondary--text: var(--swatch--light);
	--button-secondary--border: var(--swatch--light);
	--button-secondary--background-hover: var(--swatch--light);
	--button-secondary--text-hover: var(--swatch--brand-dark); 
}
/* button secondary */
[data-button-style="secondary"] {
	--button--background: var(--button-secondary--background);
	--button--text: var(--button-secondary--text);
	--button--border: var(--button-secondary--border);
	--button--background-hover: var(--button-secondary--background-hover);
	--button--text-hover: var(--button-secondary--text-hover);
	--button--border-hover: var(--button-secondary--border-hover);
}
/* apply colors */
:is(c, :where([data-theme]:not([data-theme="inherit"]))) {
	background-color: var(--theme--background);
	color: var(--theme--text);
}

/* https://fluidbuilder.webflow.io/?design=120&max=120&min=20&g=--padding-horizontal--main,3,1_--size--2rem,2,1.75_--size--2-5rem,2.5,2_--size--3rem,3,2.25_--size--3-5rem,3.5,2.375_--size--4rem,4,2.5_--size--4-5rem,4.5,2.75_--size--5rem,5,3_--size--5-5rem,5.5,3.25_--size--6rem,6,3.5_--size--6-5rem,6.5,3.75_--size--7rem,7,4_--size--7-5rem,7.5,4.25_--size--8rem,8,4.5_--size--8-5rem,8.5,4.75_--size--9rem,9,5_--size--9-5rem,9.5,5.25_--size--10rem,10,5.5_--size--11rem,11,5.75_--size--12rem,12,6_--size--13rem,13,6.5_--size--14rem,14,7_--size--15rem,15,7.5_--size--16rem,16,8_--size--20rem,20,10_--size--24rem,24,12_--size--28rem,28,14_--size--32rem,32,16,t&g=:1.46,1.24:--display--font-size,16,4,t_--h1--font-size,10.96,3.23_,7.51,2.6_--h2--font-size,5.14,2.1_--h3--font-size,3.52,1.69_--h4--font-size,2.41,1.36_--h5--font-size,1.65,1.1_--h6--font-size,1.13,0.89&g=:1.32,1.18:--text-xlarge--font-size,4,2,t_,3.03,1.69_--variable-name,2.3,1.44_--text-large--font-size,1.74,1.22_--text-main--font-size,1.32,1.03_--text-small--font-size,1,0.87_--text-xsmall--font-size,0.76,0.74 */

/* fallback for older browsers */
:root {
  --padding-horizontal--main: 3rem;
  --size--2rem: 2rem;
  --size--2-5rem: 2.5rem;
  --size--3rem: 3rem;
  --size--3-5rem: 3.5rem;
  --size--4rem: 4rem;
  --size--4-5rem: 4.5rem;
  --size--5rem: 5rem;
  --size--5-5rem: 5.5rem;
  --size--6rem: 6rem;
  --size--6-5rem: 6.5rem;
  --size--7rem: 7rem;
  --size--7-5rem: 7.5rem;
  --size--8rem: 8rem;
  --size--8-5rem: 8.5rem;
  --size--9rem: 9rem;
  --size--9-5rem: 9.5rem;
  --size--10rem: 10rem;
  --size--11rem: 11rem;
  --size--12rem: 12rem;
  --size--13rem: 13rem;
  --size--14rem: 14rem;
  --size--15rem: 15rem;
  --size--16rem: 16rem;
  --size--20rem: 20rem;
  --size--24rem: 24rem;
  --size--28rem: 28rem;
  --size--32rem: 32rem;
  --display--font-size: 16rem;
  --h1--font-size: 10.96rem;
  --variable-name: 7.51rem;
  --h2--font-size: 5.14rem;
  --h3--font-size: 3.52rem;
  --h4--font-size: 2.41rem;
  --h5--font-size: 1.65rem;
  --h6--font-size: 1.13rem;
  --text-xlarge--font-size: 4rem;
  --text-large--font-size: 3.03rem;
  --text-main--font-size: 2.3rem;
  --text-small--font-size: 1.74rem;
  --text-xsmall--font-size: 1.32rem;
}

/* responsive values */
@media screen and (max-width: 991px) {
  :root {
    --padding-horizontal--main: 1rem;
    --size--2rem: 1.75rem;
    --size--2-5rem: 2rem;
    --size--3rem: 2.25rem;
    --size--3-5rem: 2.375rem;
    --size--4rem: 2.5rem;
    --size--4-5rem: 2.75rem;
    --size--5rem: 3rem;
    --size--5-5rem: 3.25rem;
    --size--6rem: 3.5rem;
    --size--6-5rem: 3.75rem;
    --size--7rem: 4rem;
    --size--7-5rem: 4.25rem;
    --size--8rem: 4.5rem;
    --size--8-5rem: 4.75rem;
    --size--9rem: 5rem;
    --size--9-5rem: 5.25rem;
    --size--10rem: 5.5rem;
    --size--11rem: 5.75rem;
    --size--12rem: 6rem;
    --size--13rem: 6.5rem;
    --size--14rem: 7rem;
    --size--15rem: 7.5rem;
    --size--16rem: 8rem;
    --size--20rem: 10rem;
    --size--24rem: 12rem;
    --size--28rem: 14rem;
    --size--32rem: 16rem;
    --display--font-size: 4rem;
    --h1--font-size: 3.23rem;
    --variable-name: 2.6rem;
    --h2--font-size: 2.1rem;
    --h3--font-size: 1.69rem;
    --h4--font-size: 1.36rem;
    --h5--font-size: 1.1rem;
    --h6--font-size: 0.89rem;
    --text-xlarge--font-size: 2rem;
    --text-large--font-size: 1.69rem;
    --text-main--font-size: 1.44rem;
    --text-small--font-size: 1.22rem;
    --text-xsmall--font-size: 1.03rem;
  }
}

/* clamp() values */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --padding-horizontal--main: clamp(1rem, 1.8182vi + 0.6364rem, 3rem);
    --size--2rem: clamp(1.75rem, 0.2273vi + 1.7045rem, 2rem);
    --size--2-5rem: clamp(2rem, 0.4545vi + 1.9091rem, 2.5rem);
    --size--3rem: clamp(2.25rem, 0.6818vi + 2.1136rem, 3rem);
    --size--3-5rem: clamp(2.375rem, 1.0227vi + 2.1648rem, 3.5rem);
    --size--4rem: clamp(2.5rem, 1.3636vi + 2.2159rem, 4rem);
    --size--4-5rem: clamp(2.75rem, 1.5909vi + 2.4205rem, 4.5rem);
    --size--5rem: clamp(3rem, 1.8182vi + 2.6364rem, 5rem);
    --size--5-5rem: clamp(3.25rem, 2.0455vi + 2.8409rem, 5.5rem);
    --size--6rem: clamp(3.5rem, 2.2727vi + 3.0455rem, 6rem);
    --size--6-5rem: clamp(3.75rem, 2.5vi + 3.25rem, 6.5rem);
    --size--7rem: clamp(4rem, 2.7273vi + 3.4545rem, 7rem);
    --size--7-5rem: clamp(4.25rem, 2.9545vi + 3.6591rem, 7.5rem);
    --size--8rem: clamp(4.5rem, 3.1818vi + 3.8636rem, 8rem);
    --size--8-5rem: clamp(4.75rem, 3.4091vi + 4.0682rem, 8.5rem);
    --size--9rem: clamp(5rem, 3.6364vi + 4.2727rem, 9rem);
    --size--9-5rem: clamp(5.25rem, 3.8636vi + 4.4773rem, 9.5rem);
    --size--10rem: clamp(5.5rem, 4.0909vi + 4.6818rem, 10rem);
    --size--11rem: clamp(5.75rem, 4.7727vi + 4.7955rem, 11rem);
    --size--12rem: clamp(6rem, 5.4545vi + 4.9091rem, 12rem);
    --size--13rem: clamp(6.5rem, 5.9091vi + 5.3182rem, 13rem);
    --size--14rem: clamp(7rem, 6.3636vi + 5.7273rem, 14rem);
    --size--15rem: clamp(7.5rem, 6.8182vi + 6.1364rem, 15rem);
    --size--16rem: clamp(8rem, 7.2727vi + 6.5455rem, 16rem);
    --size--20rem: clamp(10rem, 9.0909vi + 8.1818rem, 20rem);
    --size--24rem: clamp(12rem, 10.9091vi + 9.8182rem, 24rem);
    --size--28rem: clamp(14rem, 12.7273vi + 11.4545rem, 28rem);
    --size--32rem: clamp(16rem, 14.5455vi + 13.0909rem, 32rem);
    --display--font-size: clamp(4rem, 10.9091vi + 1.8182rem, 16rem);
    --h1--font-size: clamp(3.23rem, 6.9218vi + 1.8465rem, 10.96rem);
    --variable-name: clamp(2.6rem, 4.3976vi + 1.7224rem, 7.51rem);
    --h2--font-size: clamp(2.1rem, 2.7231vi + 1.5554rem, 5.14rem);
    --h3--font-size: clamp(1.69rem, 1.6421vi + 1.3616rem, 3.52rem);
    --h4--font-size: clamp(1.36rem, 0.9412vi + 1.1718rem, 2.41rem);
    --h5--font-size: clamp(1.1rem, 0.4932vi + 1.0014rem, 1.65rem);
    --h6--font-size: clamp(0.89rem, 0.2155vi + 0.8469rem, 1.13rem);
    --text-xlarge--font-size: clamp(2rem, 1.8182vi + 1.6364rem, 4rem);
    --text-large--font-size: clamp(1.69rem, 1.2059vi + 1.4488rem, 3.03rem);
    --text-main--font-size: clamp(1.44rem, 0.7711vi + 1.2858rem, 2.3rem);
    --text-small--font-size: clamp(1.22rem, 0.457vi + 1.1286rem, 1.74rem);
    --text-xsmall--font-size: clamp(1.03rem, 0.259vi + 0.9782rem, 1.32rem);
  }
}

/* Hide Webflow badge */
.w-webflow-badge {
  display: none !important;
}
